#contact
    padding: 50px 0
    background-color:  #212529
    background-image: url(Assets/map-image.png)
    background-repeat: no-repeat
    background-position: center
    h1 
        font-weight: 700
        font-size: 40px
        color:  #ffffff
    h3 
        color:  #716e6e
        font-size: 20px
        font-style: italic
        margin: 20px 0 50px 
    .add
        display: flex
        flex-direction: column
        input
            border: 1px solid 
            width: 640px
            height: 70px
            margin: 12px 0
    textarea
        margin: 10px 0 0 20px
        padding: 20px 0 0 20px
    .box
        .btn
            padding: 20px 50px
            background-color:  #ffc800
            opacity: 0.7
            color:  #ffffff
            font-size: 20px
            font-weight: 700
            margin: 50px 0
