#contact
    padding: 50px 0
    background-image:  url (Assets/map-image.png)
    background-size: cover
    background-repeat: no-repeat
    h1 
        font-weight: 700
        font-size: 40px
    h3 
        color:  #716e6e
        font-size: 20px
        font-style: italic
        margin: 20px 0 50px 
    .add
        display: flex
        input
            border: 1px solid 
            // background-color:   #ffffff
            width: 640px
            height: 70px
            margin: 20px 0
    .box
        .btn
            padding: 40px 50px
            background-color:  #ffc800
            opacity: 0.9
            color:  #ffffff
            font-size: 20px
            font-weight: 700
            margin-top: 50px
