header
    background-color: #212529
    padding: 20px 0
    position: fixed
    width: 1550px
    .imgbox
        width: 150px
    .menu
        padding-left: 80px
    nav
        a
            font-size: 18px
            color: #eee7e7
            margin: 30px 20px
    &:hover
        a
            color: #ffc800
            cursor: pointer
