header
    .box
        background-color: #212529
        padding: 20px 80px
        position: fixed
        top: 0
        left: 0
        width: 1550px
        .imgbox
            width: 150px
        .menu
            padding-right: 50px
        nav
            a
                font-size: 18px
                color: #eee7e7
                margin: 30px 20px
                transition: 1s
        &:hover
            a
                cursor: pointer
                color: #ffc800
    
    
