#team
    background-color:  #f8f9fa
    padding: 50px 0
    h1 
        font-weight: 700
        font-size: 40px
    h3 
        color:  #716e6e
        font-size: 20px
        font-style: italic
        margin: 20px 0 60px
    .imgbox
        img
            width: 220px
            border: 6px solid  rgb(219, 217, 217)
            border-radius: 100%
    .textbox
        h2 
            font-weight: 700
            font-size: 25px
            margin-top: 20px
        h4
            color:  #716e6e
            font-size: 20px
            margin: 10px 0 20px
        ul
            display: flex
            flex-direction: row
            justify-content: center
            li
                margin: 0 10px 50px 
                background-color: rgb(31, 30, 30)
                border-radius: 50%
                padding: 20px
                width: 10px
                height: 10px
                .icon
                    color:  #ffffff
                    margin: -7px     
    .boxend
        display: flex
        justify-content: center
        .minibox
            width: 850px
        p 
            color:  #716e6e
            font-size: 20px
            margin-bottom: 50px 
            line-height: 1.4
    @media (max-width: 992px)
        
        
    
        
        
           
