#welcome
    background-image:  url(Assets/header-bg.jpg)
    background-size: cover
    .box
        padding: 150px
        .textbox
            h2
                font-size: 50px
                color:  #ffff
                line-height: 1.2
                margin-top: 80px
            h1
                font-weight: 700
                font-size: 80px
                color:  #ffff
                margin: 20px 0
                line-height: 1.2
            .btn
                padding: 20px 45px
                color:  #ffff
                background-color: rgb(234, 198, 34)
                font-weight: 700
                margin: 40px 0 50px
                font-size: 20px
                
        
