#welcome
    background-image:  url(Assets/header-bg.jpg)
    background-size: cover
    .box
        height: 800px
        .textbox
            h2
                font-weight: 500
                font-size: 45px
                color:  #ffff
                margin-top: 80px
                font-style: italic
            h1
                font-weight: 700
                font-size: 80px
                color:  #ffff
                margin: 20px 0
            .btn
                padding: 20px 45px
                color:  #ffff
                background-color:   #ffc800
                font-weight: 700
                margin: 40px 0 50px
                font-size: 20px
    @media (max-width: 768px)
        .box
            .textbox
                h2 
                    font-size: 31px
                h1 
                    font-size: 65px
              
                
        
