body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header {
  background-color: #212529;
  padding: 20px 0;
  position: fixed;
  width: 1550px;
}
header .imgbox {
  width: 150px;
}
header .menu {
  padding-left: 80px;
}
header nav a {
  font-size: 18px;
  color: #eee7e7;
  margin: 30px 20px;
}
header:hover a {
  cursor: pointer;
  color: #ffc800;
}

#welcome {
  background-image: url(Assets/header-bg.jpg);
  background-size: cover;
}
#welcome .box {
  height: 800px;
}
#welcome .box .textbox h2 {
  font-weight: 500;
  font-size: 45px;
  color: white;
  margin-top: 80px;
  font-style: italic;
}
#welcome .box .textbox h1 {
  font-weight: 700;
  font-size: 80px;
  color: white;
  margin: 20px 0;
}
#welcome .box .textbox .btn {
  padding: 20px 45px;
  color: white;
  background-color: #ffc800;
  font-weight: 700;
  margin: 40px 0 50px;
  font-size: 20px;
}
@media (max-width: 768px) {
  #welcome .box .textbox h2 {
    font-size: 31px;
  }
  #welcome .box .textbox h1 {
    font-size: 65px;
  }
}

#services {
  padding: 50px 0;
}
#services h1 {
  font-weight: 700;
  font-size: 40px;
}
#services h3, #services p {
  color: #716e6e;
  font-size: 19px;
  margin: 20px 0 50px;
}
#services p {
  line-height: 1.4;
}
#services .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .box .minibox {
  width: 128px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  border-radius: 100%;
}
#services .box .minibox .icon {
  font-size: 62px;
  color: #ffffff;
}
#services .box .textbox {
  padding: 20px;
}
#services .box .textbox h2 {
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 768px) {
  #services .box {
    display: flex;
    flex-direction: column;
  }
}

#portfolio {
  background-color: #f8f9fa;
  padding: 50px 0;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h3, #portfolio h4 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 50px;
}
#portfolio .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 25px;
}
#portfolio .box .imgbox {
  overflow: hidden;
}
#portfolio .box .imgbox img {
  width: 100%;
}
#portfolio .box .imgbox .minibox {
  position: absolute;
  left: 0;
  top: 0;
}
#portfolio .box .imgbox:hover .minibox {
  width: 416px;
  height: 312px;
  background-color: #fcb402;
  opacity: 0.9;
  position: absolute;
  left: 120px;
  top: 1557px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
#portfolio .box .imgbox:hover .minibox .icon {
  color: #ffffff;
  font-size: 60px;
}
#portfolio .box .textbox h2 {
  font-weight: 700;
  font-size: 28px;
  margin-top: 25px;
}
#portfolio .box .textbox h4 {
  margin: 10px 0 20px;
}

#about {
  padding: 50px 0;
}
#about h1 {
  font-weight: 700;
  font-size: 40px;
}
#about h3 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 50px;
}
#about .box {
  display: flex;
}
#about .box .textbox {
  padding: 40px;
}/*# sourceMappingURL=style.css.map */