body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

header .box {
  background-color: #212529;
  padding: 20px 80px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 1550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .box .imgbox {
  width: 150px;
}
header .box .minibox {
  display: none;
}
header .box .menu {
  padding-right: 50px;
}
header .box .menu nav a {
  font-size: 18px;
  color: #eee7e7;
  margin: 30px 20px;
}
header .box .menu:hover a {
  cursor: pointer;
  color: #ffc800;
}
@media (max-width: 1400px) {
  header .box {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  header .box {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  header .box {
    max-width: 992px;
  }
  header .box .minibox {
    display: flex;
    color: rgb(179, 177, 177);
    font-weight: 700;
    border: 0.5px solid rgb(97, 94, 94);
    padding: 10px 15px;
    border-radius: 5px;
  }
  header .box .minibox h1 {
    margin-right: 5px;
    font-size: 13px;
  }
  header .box .minibox .icon {
    font-size: 13px;
  }
  header .box .menu nav {
    display: none;
  }
}
@media (max-width: 768px) {
  header .box {
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  header .box {
    display: flex;
    justify-content: flex-start;
    max-width: 576px;
    padding: 20px;
  }
  header .box .minibox {
    margin-left: 50px;
  }
}

#welcome {
  background-image: url(Assets/header-bg.jpg);
  background-color: #212529;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#welcome .box {
  height: 800px;
}
#welcome .box .textbox h2 {
  font-weight: 500;
  font-size: 45px;
  color: white;
  margin-top: 80px;
  font-style: italic;
}
#welcome .box .textbox h1 {
  font-weight: 700;
  font-size: 80px;
  color: white;
  margin: 20px 0;
}
#welcome .box .textbox .btn {
  padding: 20px 45px;
  color: white;
  background-color: #ffc800;
  font-weight: 700;
  margin: 40px 0 50px;
  font-size: 20px;
}
@media (max-width: 768px) {
  #welcome .box .textbox h2 {
    font-size: 31px;
  }
  #welcome .box .textbox h1 {
    font-size: 65px;
  }
}

#services {
  padding: 50px 0;
}
#services h1 {
  font-weight: 700;
  font-size: 45px;
}
#services h3 {
  color: #716e6e;
  font-size: 19px;
  margin: 20px 0 50px;
  font-style: italic;
}
#services p {
  line-height: 1.4;
  color: #716e6e;
  font-size: 19px;
  margin: 20px 0 50px;
}
#services .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .box .minibox {
  width: 128px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  border-radius: 100%;
}
#services .box .minibox .icon {
  font-size: 62px;
  color: #ffffff;
}
#services .box .textbox {
  padding: 20px;
}
#services .box .textbox h2 {
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 768px) {
  #services .box {
    display: flex;
    flex-direction: column;
  }
}

#portfolio {
  background-color: #f8f9fa;
  padding: 50px 0;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
}
#portfolio h3 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 50px;
}
#portfolio .box {
  max-width: 420px;
  margin: 15px 0;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox img {
  max-width: 100%;
  height: auto;
}
#portfolio .box .imgbox .minibox {
  position: absolute;
  opacity: 0;
}
#portfolio .box .imgbox:hover .minibox {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffc800;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.25s;
}
#portfolio .box .imgbox:hover .minibox .icon {
  font-size: 65px;
  color: #ffffff;
}
#portfolio .box .textbox {
  background-color: #ffffff;
  padding: 20px 0;
}
#portfolio .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
}
#portfolio .box .textbox h4 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 10px 0 0;
}

#about {
  padding: 50px 0;
}
#about h1 {
  font-weight: 700;
  font-size: 45px;
}
#about h3 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 0;
}
#about .box .minibox {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
#about .box .minibox .imgbox {
  position: relative;
  width: 170px;
  height: 170px;
  text-align: center;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}
#about .box .minibox .imgbox img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
#about .box .minibox .textbox {
  width: 470px;
  padding-right: 50px;
  text-align: end;
}
#about .box .minibox .textbox h2, #about .box .minibox .textbox h4 {
  font-weight: 700;
  font-size: 25px;
}
#about .box .minibox .textbox h4 {
  margin: 10px 0;
}
#about .box .minibox .textbox p {
  font-size: 20px;
  color: #716e6e;
  line-height: 1.5;
}
#about .box .miniboxright {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
#about .box .miniboxright .imgbox {
  position: relative;
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  text-align: center;
  border-radius: 100%;
  background-color: #ffc800;
}
#about .box .miniboxright .imgbox img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
#about .box .miniboxright .textbox {
  width: 450px;
  margin-right: 50px;
}
#about .box .miniboxright .textbox h2, #about .box .miniboxright .textbox h4 {
  font-weight: 700;
  font-size: 25px;
}
#about .box .miniboxright .textbox h4 {
  margin: 10px 0;
}
#about .box .miniboxright .textbox p {
  font-size: 20px;
  color: #716e6e;
  line-height: 1.5;
}
#about .box .yellow {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
#about .box .yellow .textboxyellow {
  display: flex;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 5px solid rgb(219, 217, 217);
  background-color: #ffc800;
  padding: 0 48px;
}
#about .box .yellow .textboxyellow h5 {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
@media (max-width: 1200px) {
  #about .box .minibox .imgbox {
    width: 150px;
    height: 150px;
  }
  #about .box .minibox .textbox {
    width: 350px;
    padding-right: 0;
  }
  #about .box .miniboxright .imgbox {
    width: 150px;
    height: 150px;
  }
  #about .box .miniboxright .textbox {
    width: 350px;
  }
  #about .box .yellow .textboxyellow {
    width: 150px;
    height: 150px;
    padding: 0 39px;
  }
}
@media (max-width: 992px) {
  #about .box .minibox {
    margin: 60px 0;
  }
  #about .box .minibox .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .box .minibox .textbox {
    width: 240px;
  }
  #about .box .miniboxright .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .box .miniboxright .textbox {
    width: 240px;
  }
  #about .box .yellow .textboxyellow {
    width: 100px;
    height: 100px;
    padding: 0 24px;
  }
  #about .box .yellow .textboxyellow h5 {
    font-size: 15px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #about .box .minibox {
    display: flex;
    justify-content: flex-start;
  }
  #about .box .minibox .imgbox {
    width: 75px;
    height: 75px;
  }
  #about .box .minibox .textbox {
    width: 400px;
    text-align: start;
    padding-right: 0;
  }
  #about .box .miniboxright {
    display: flex;
    justify-content: flex-start;
  }
  #about .box .miniboxright .imgbox {
    width: 75px;
    height: 75px;
  }
  #about .box .miniboxright .textbox {
    width: 374px;
  }
  #about .box .yellow {
    display: flex;
    justify-content: flex-start;
  }
  #about .box .yellow .textboxyellow {
    width: 75px;
    height: 75px;
    padding: 0 15px;
  }
  #about .box .yellow .textboxyellow h5 {
    font-size: 12px;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  #about .box .minibox .imgbox {
    position: absolute;
  }
}

#team {
  background-color: #f8f9fa;
  padding: 50px 0;
}
#team h1 {
  font-weight: 700;
  font-size: 45px;
}
#team h3 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 60px;
}
#team .imgbox img {
  width: 220px;
  border: 6px solid rgb(219, 217, 217);
  border-radius: 100%;
}
#team .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
}
#team .textbox h4 {
  color: #716e6e;
  font-size: 20px;
  margin: 10px 0 20px;
}
#team .textbox ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#team .textbox ul li {
  margin: 0 10px 50px;
  background-color: rgb(31, 30, 30);
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#team .textbox ul li .icon {
  color: #ffffff;
  margin: -7px;
}
#team .boxend {
  display: flex;
  justify-content: center;
}
#team .boxend .minibox {
  width: 850px;
}
#team .boxend p {
  color: #716e6e;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 1.4;
}
#client {
  padding: 50px 0;
}
#client .imgbox {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
#client .imgbox img {
  height: 44px;
}

#contact {
  padding: 50px 0;
  background-color: #212529;
  background-image: url(Assets/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}
#contact h1 {
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  margin-top: 50px;
}
#contact h3 {
  color: #716e6e;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 50px;
}
#contact .box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#contact .box .add input {
  border: 1px solid #ced4da;
  display: block;
  width: 100%;
  margin: 12px 0;
  font-weight: 600;
  font-size: 17px;
  color: rgb(188, 185, 185);
  padding: 20px;
}
#contact .box textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 20px 0 0 20px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
  color: rgb(188, 185, 185);
}
#contact .boxmsg .btn {
  padding: 20px 50px;
  background-color: #ffc800;
  opacity: 0.7;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 0;
}
@media (max-width: 768px) {
  #contact .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contact .box textarea {
    padding: auto;
    margin: 12px 0;
  }
}

footer {
  padding: 30px 0;
}
footer .box h1 {
  color: rgb(103, 97, 97);
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul li {
  margin: 0 10px;
  background-color: rgb(31, 30, 30);
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
footer ul li .icon {
  color: #ffffff;
  margin: -7px -6px;
}
footer .boxplc {
  display: flex;
  justify-content: flex-end;
}
footer .boxplc h2 {
  margin-right: 20px;
  color: rgb(103, 97, 97);
}
footer .boxplc h3 {
  color: rgb(103, 97, 97);
}
@media (max-width: 992px) {
  footer .box {
    display: flex;
    justify-content: center;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  footer .boxplc {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */